html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
}

fieldset {
    border: 0;
}

.row {
    display: flex;
    flex-flow: row;
}

.column {
    display: flex;
    flex-flow: column;
}

.centered {
    align-items: center;
}

.justify-centered {
    justify-content: center;
}
