html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
}

#root {
    height: calc(100% - 2rem);
    padding: 1rem;
}

.row {
    display: flex;
    flex-flow: row;
}

.column {
    display: flex;
    flex-flow: column;
}

.centered {
    align-items: center;
}
