.filters {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.filters .label {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: 1000;
}

.filters .label.small {
    font-size: 1rem;
}
